[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]

[packages]
pylint = "*"
requests = "*"
lxml = "*"
aiohttp = "*"
loguru = "*"
motor = "*"
mongoengine = "*"

[requires]
python_version = "3.7"
