[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
motor = "*"
lxml = "*"
aiohttp = "*"
loguru = "*"
aiofiles = "*"
shortuuid = "*"
aiofiles38 = "*"

[requires]
python_version = "3.8"
